//COLORS
$color-white: rgb(247, 247, 247);
$color-grey: rgb(147, 147, 147);
$color-black: rgb(52, 52, 52);

$primary-color: #ffe100;
$primary-color-light: #faed8b ;
$primary-color-dark: #e1c703;

$secondary-color: #007653;
$secondary-color-light: #00ae7a;
$secondary-color-dark: #006043;

$secondary-color: #00d0ff;
$secondary-color-light: #54dffe;
$secondary-color-dark: #0096b8;


//GRID
$grid-width: 114rem;
$gutter-vertical: 3rem;
$gutter-horizontal: 2em;

//HEADER
$header-gutter-horizontal: 2em;
