// font-family: 'Karla', sans-serif;
// font-family: 'Josefin Sans', sans-serif;
// font-family: 'IBM Plex Mono', monospace;
// font-family: 'Acme', sans-serif;

body {
  font-size: 1.6rem;
  font-family: 'Karla', sans-serif;
  color: $color-black;
}

.heading-primary {
  font-size: 5rem;
}

.paragraph {
  font-size: 2.3rem;
}

.list-items {
  list-style: none;
}